@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/HelveticaNeueRoman.otf');
}

@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: medium;
  font-weight: 500;
  src: url('./assets/fonts/HelveticaNeueMedium.otf');
}

@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/HelveticaNeueBold.otf');
}

@font-face {
  font-family: "Helvetica Neue Black";
  font-style: black;
  font-weight: 900;
  src: url('./assets/fonts/HelveticaNeueBlack.otf');
}


body {
  font-family: "Helvetica Neue Regular";
}